@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/webfonts/SourceSansPro-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/webfonts/SourceSansPro-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/webfonts/SourceSansPro-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/webfonts/SourceSansPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('assets/webfonts/SourceSansPro-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('assets/webfonts/SourceSerifPro-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}
