/* ==========================================================================
 Base - Setting up some base styles
 ========================================================================== */

 * {
   box-sizing: border-box;
}

html {
  height: 100%;
  max-height: 100%;
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  height: 100%;
  max-height: 100%;
  font-family: $font_stack;
  font-size: 2.1rem;
  line-height: 1.45;
  color: $color_body;
  background-color: #fafafa;
}

::-moz-selection { background: #D6EDFF; }
::selection      { background: #D6EDFF; }

h1, h2, h3,
h4, h5, h6 {
  -webkit-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -moz-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -ms-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  -o-font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  font-feature-settings: 'dlig' 1, 'liga' 1, 'lnum' 1, 'kern' 1;
  color: $color_body;
  line-height: 1.15em;
  margin: 0 0 0.3em 0;
}

h1 {
  font-family: $font_stack_serif;
  font-weight: 900;
  font-size: 6.4rem;
  margin-bottom: 1em;
  color: #2a2a2a;
}

h2 {
  font-size: 2.8rem;
  line-height: 1.6;
  font-weight: 500;
  color:#4a4a4a;
  margin-bottom: 9.6rem;
}

h3 {
  font-size:3.2rem;
  font-weight: 700;
  margin-bottom:2.1rem;
  font-feature-settings: normal;
  margin-top: 6.4rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  color: rgba(0,0,0,.3);
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 1rem;
}

h6 {
  font-size: 1.2rem;
}

a {
  color: $color_body;
  transition: color ease 0.3s;
  text-decoration: underline;
  font-weight: 600;
}

a:hover {
  color: $color_violet;
  text-decoration: underline;
}

p, ul, ol, dl {
  -webkit-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -moz-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -ms-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  -o-font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  font-feature-settings: 'liga' 1, 'onum' 1, 'kern' 1;
  margin: 0 0 1.8em 0;
  line-height:1.54;
  font-weight: 500;
}

ol, ul {
  padding-left: 2.5em;
}

ol ol, ul ul,
ul ol, ol ul {
  margin: 0 0 0.4em 0;
  padding-left: 2em;
}

li {
  margin-bottom: .75em;
}

dl dt {
  float: left;
  width: 180px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 700;
  margin-bottom: 1em;
}

dl dd {
  margin-left: 200px;
  margin-bottom: 1em
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: #EFEFEF 1px solid;
  margin: 3.2em 0;
  padding: 0;
}

blockquote {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.7em 0 1.7em 1.7em;
  padding: 0 0 0 1.6em;
  border-left: transparentize(#4A4A4A, .8) 1px solid;
}

blockquote p {
  margin: 0.8em 0;
  font-style: italic;
}

blockquote small {
  display: inline-block;
  margin: 0.8em 0 0.8em 1.5em;
  font-size: 0.9em;
  color: #CCC;
}

blockquote small:before { content: "\2014 \00A0"; }

blockquote cite {
  font-weight: 700;
}

blockquote cite a { font-weight: normal; }

mark {
  background-color: #FFC336;
}

code, tt {
  padding: 1px 3px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.85em;
  white-space: pre-wrap;
  border: #E3EDF3 1px solid;
  background: #F7FAFB;
  border-radius: 2px;
}

pre {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 1.7em 0;
  border: #E3EDF3 1px solid;
  width: 100%;
  padding: 10px;
  font-family: Inconsolata, monospace, sans-serif;
  font-size: 0.9em;
  white-space: pre;
  overflow: auto;
  background: #F7FAFB;
  border-radius: 3px;
}

pre code, tt {
  font-size: inherit;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
  background: transparent;
  border: none;
  padding: 0;
}

kbd {
  display: inline-block;
  margin-bottom: 0.4em;
  padding: 1px 8px;
  border: #CCC 1px solid;
  color: #666;
  text-shadow: #FFF 0 1px 0;
  font-size: 0.9em;
  font-weight: 700;
  background: #F4F4F4;
  border-radius: 4px;
  box-shadow:
  0 1px 0 rgba(0, 0, 0, 0.2),
  0 1px 0 0 #fff inset;
}

table {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1.7em 0;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border-top: #EFEFEF 1px solid;
}

table th { color: #000; }

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody { border-top: #EFEFEF 2px solid; }

table table table { background-color: #FFF; }

table tbody > tr:nth-child(odd) > td,
table tbody > tr:nth-child(odd) > th {
  background-color: #F6F6F6;
}

table.plain tbody > tr:nth-child(odd) > td,
table.plain tbody > tr:nth-child(odd) > th {
  background: transparent;
}

iframe, .fluid-width-video-wrapper {
  display: block;
  margin: 1.6em 0;
}

/* When a video is inside the fitvids wrapper, drop the
margin on the iframe, cause it breaks stuff. */
.fluid-width-video-wrapper iframe {
  margin: 0;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  margin-bottom: 3em;
  margin-top: 3em;
}
